= simple_form_for :message, url: [:reply, conversation], :html => {:multipart => true} do |f|
  / = f.input :subject
  = f.input :body, label: "Intervioni", required: false, as: :text, :input_html => { :rows => 2, class: "span6" }
  = f.input :attachment, as: :file
  .form-actions
    = f.button :submit, "Invia", class: 'btn btn-primary'
    = submit_tag 'Annulla', type: :reset, class: 'btn btn-danger'
