.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti 
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        
        %li.divider

        %li.nav-header
          %i.icon-gift
          Articoli
        
        %li
          = link_to articoli_url do
            %i.icon-gift
            tutti
    .well
      Incassi recenti
      - for i in @incassi do
        .incasso
          = link_to i.id, documento_path(i)
          = i.data.try(:strftime, "%d-%m-%y")
          .pull-right= number_to_currency i.importo
          
  .span9
    %header
      .form-search-articolo.pull-left
        = form_for @movimento, class: "well form-search", remote: true do |f|

          = f.text_field :articolo_id, class: "search-query", placeholder: "inserisci codice articolo", autofocus: true
          = f.submit "aggiungi", class: "btn btn-primary", id: "new_movimento_submit"

      = render :partial => 'cassa_result', locals: { movimenti: @movimenti }

    %section.movimenti
      %table.table.movimenti.da-registrare
        = render @movimenti
           
    / = @movimenti.sum(&:importo_provvigione)
    / = @movimenti.sum(&:importo_patate)
    / = @movimenti.sum(&:ricavo)