.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti 
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        
        %li.divider

        %li.nav-header
          %i.icon-gift
          Articoli
        
        %li
          = link_to articoli_url do
            %i.icon-gift
            tutti
  
  .span9

    .form-search-articolo.pull-left
      = form_for @movimento, class: "well form-search" do |f|
  
        = f.text_field :articolo_id, class: "search-query", placeholder: "inserisci codice articolo", autofocus: true
        = f.submit "aggiungi", class: "btn btn-primary"
    
    .cassa-result.pull-right.clearfix
      %span Incasso totale
      %strong= number_to_currency @movimenti.sum(&:prezzo)
      = form_for Documento.new do |f|
        - f.hidden_field :data, value: Time.now
        = f.hidden_field :tipo, value: "cassa"
        = f.submit "registra", class: "btn btn-success"
    
    %table.table
      = render @movimenti
           
    / = @movimenti.sum(&:importo_provvigione)
    / = @movimenti.sum(&:importo_patate)
    / = @movimenti.sum(&:ricavo)