= content_for :left_col do
  .span3.side-bar
  
    %ul.nav.nav-list.well
      %li
        %small Incasso
        .pull-right= number_to_currency @incasso_totale
      %li
        %small Provvigioni
        .pull-right= number_to_currency @provvigione_clienti
      %li
        %small Da rimborsare
        .pull-right= number_to_currency @da_rimborsare
      %li
        %small Patate
        .pull-right= number_to_currency @patate  
      
      %li.nav-header
        %i.icon-shopping-cart
        Ultimi documenti
      - for i in @incassi do
        %li[i]
          = link_to documento_path(i) do
            = "#{i.tipo} #{i.id} -"
            %small= l i.data, format: :short
            .pull-right= number_to_currency i.importo
      %li
        = link_to documenti_path do
          =  "...tutti..."

      %li.nav-header
        %i.icon-shopping-cart
        incassi settimana
      - for d, i in @incassi_settimana do
        %li
          = link_to lista_documenti_path(year: d.year, month: d.month, day: d.day) do
            %small= l d, format: :short
            .pull-right= number_to_currency i

      %li.nav-header
        %i.icon-shopping-cart
        incassi mese
      - for m, i in @incassi_mese do
        %li
          %small= l m, format: :long_month
          .pull-right= number_to_currency i.sum(&:importo)
        
.span9
  %section.cassa-form
    .form-search-articolo.pull-left
      = form_for @movimento, html: {class: "form-search", remote: true} do |f|
        .input-append
          = f.text_field :articolo_id, class: "search-query", placeholder: "inserisci codice articolo", autofocus: true
          = f.hidden_field :tipo, valu: "vendita"
          = button_tag "aggiungi", class: "btn btn-primary", id: "new_movimento_submit", name: nil

    = render :partial => 'cassa_result', locals: { movimenti: @movimenti }
    .clearfix
    
  %section.movimenti
    %table.table.movimenti.da-registrare
      = render @movimenti
         
  / = @movimenti.sum(&:importo_provvigione)
  / = @movimenti.sum(&:importo_patate)
  / = @movimenti.sum(&:ricavo)