= User.all.map(&:name)


= simple_form_for :conversation, url: :conversations do |f|
  = f.input_field :recipients, data: { autocomplete_source: User.all.map(&:name) }
  = f.input :subject
  = f.input :body
  .form-actions
    = f.button :submit, class: 'btn-primary'
    = submit_tag 'Cancel', type: :reset, class: 'btn btn-danger'
