.span6
  
  %h1 Conversazioni
  %h2 Non lette
  %ul.unstyled= render mailbox.inbox.unread(current_user)
  %h2 Lette
  %ul.unstyled= render mailbox.inbox - mailbox.inbox.unread(current_user)
  
  %h2 Inviate
  %ul.unstyled= render mailbox.sentbox
  %h2 Nel cestino
  %ul.unstyled= render mailbox.trash

  = link_to 'Start Conversation', :new_conversation