= content_for :left_col do
  .span3.side-bar
    .well
      %ul.nav.nav-list
        
        %li.nav-header
          = link_to 'Nuovo messaggio', :new_conversation, class: "btn"
        
        %li.nav-header{ class: "#{'active' if @box == 'in_arrivo'}"}
          = link_to  :conversations do
            %i.icon-envelope.icon-large
            in arrivo
          %ul.nav.nav-list
            %li
              da leggere
              = badge_if  mailbox.inbox.unread(current_user).length, class: "badge-important pull-right", style: "margin-right: -15px"
            %li
              già letti
              = badge_if (mailbox.inbox - mailbox.inbox.unread(current_user)).length, class: "pull-right", style: "margin-right: -15px"

        %li.nav-header{ class: "#{'active' if @box == 'inviati'}"}
          = link_to conversations_path(box: "inviati") do
            %i.icon-share.icon-large
            inviati
            = badge_if mailbox.sentbox.length, class: "pull-right"

        %li.separator

        %li.nav-header{ class: "#{'active' if @box == 'cestino'}"}
          = link_to conversations_path(box: "cestino") do
            %i.icon-trash.icon-large
            cestino
            = badge_if mailbox.trash.length, class: "pull-right"

  
    

.span9
  
  %h1 
    Messaggi
    %small
      = icon_mailbox(@box)
      = @box.humanize.downcase
      
  %br

  %ul.unstyled= render @conversations.includes(:receipts => :receiver)
  
