.span6
  %h1
    = conversation.subject
    %small= time_ago_in_words(conversation.updated_at) + ' fa.'
  %div  
    - if conversation.is_read?(current_user)
      = link_to 'letta', [:mark_as_unread, conversation], method: :post, class: "btn"
    - else
      = link_to 'non letta', [:mark_as_read, conversation], method: :post, class: "btn"
  .partecipants
    Partecipanti:
    = (conversation.participants.map(&:name) - [current_user.name]).split.join(", ")
    
  %ul.unstyled
    = content_tag_for(:li, conversation.receipts_for(current_user).order(:created_at), class: "clearfix") do |receipt|
      - message = receipt.message
      = div_for(receipt, class: "#{receipt.mailbox_type}") do
        %h3= message.body
        %p
          = message.sender.name
        %p  
          %small= time_ago_in_words(message.created_at) + ' fa.'
          = link_to "visualizza allegato", message.attachment_url, class: "btn" unless message.attachment.blank?
          = link_to "scarica allegato", message.attachment_url, class: "btn", download: message.attachment  unless message.attachment.blank?
  = render 'messages/form', conversation: conversation
