= simple_form_for(@documento) do |f|
  = f.error_notification

  .form-inputs
    = f.input :tipo
    = f.input :data_text, label: "Data", input_html: {class: "datepicker"}

  .form-actions
    = f.button :submit, class: "btn btn-primary"
