%h1 Listing documenti

%table
  %tr
    %th Tipo
    %th Data
    %th Importo
    %th
    %th
    %th

  - @documenti.each do |documento|
    %tr
      %td= documento.tipo
      %td= documento.data
      %td= documento.importo
      %td= link_to 'Show', documento
      %td= link_to 'Edit', edit_documento_path(documento)
      %td= link_to 'Destroy', documento, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Documento', new_documento_path
