= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        Documenti
      %li
        = link_to documenti_url do
          tutti i documenti
      %li.divider
      %li
        = link_to movimenti_path do
          tutti i movimenti    

%section.documenti.span9
  .page-header
    = link_to "#", class: "btn btn-stampami pull-right", onclick: "window.print();return false;", "data-no-turbolink" => true do
      %i.icon-print
      Stampami
    %h1 Documenti 
  %table.table
    - @documenti_per_giorno.each do |month, days|
      %tr
        %td{ colspan: 2 }
          %h4= l month, format: :long_month
        = totale_importo(Documento.cassa.filtra_mese(month))
        = totale_importo(Documento.rimborso.filtra_mese(month), 'rimborso')

      - days.each do |giorno, documenti|
        %tr
          %td.giorno{colspan: 2, style: "padding-top: 18px" }
            = link_to lista_documenti_path(year: giorno.year, month: giorno.month, day: giorno.day) do
              %strong= l(giorno, format: :only_long_day).downcase
          = totale_importo(documenti)
          = totale_importo(documenti, "rimborso")

        = render documenti   

  
  = paginate @paged
