= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        Documenti
      %li
        = link_to documenti_url do
          tutti i documenti
      %li.divider
      %li
        = link_to movimenti_path do
          tutti i movimenti    
      

.span9
  .page-header
    %h1 Documenti 
  %table.table
    - @documenti_per_giorno.each do |giorno, documenti|
      %tr
        %td{colspan: 4}
          = link_to lista_documenti_path(year: giorno.year, month: giorno.month, day: giorno.day) do
            %strong= l giorno, format: :long
        %td.pezzi{colspan: 4}
          incasso:
          %strong= number_to_currency documenti.select{ |m| m.cassa?}.sum(&:importo)
          rimborsi:
          %strong= number_to_currency documenti.select{ |m| m.rimborso?}.sum(&:importo)
      = render documenti
  = paginate @documenti
