= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        %i.icon-user
        Documento
      %li
        = link_to edit_documento_path(@documento) do
          %i.icon-pencil
          Modifica
      %li
        = link_to @documento, method: :delete, confirm: "Elimino il documento?\n(i movimenti non verranno eliminati)", "data-no-turbolink" => true do
          %i.icon-trash
          Elimina
      %li.divider
      - unless @documento.articoli.empty?
        %li
          = form_tag etichette_articoli_path, :method => :put, :id => "form_articoli", target: "_blank" do
            - for a in @documento.articoli do
              = hidden_field_tag "articolo_ids[]", a.id
            = hidden_field_tag "tipo_etichetta", "Dymo 11352"
            = button_tag id: "bt-pdf" do
              %i.icon-tag
              Etichette
      %li
        = link_to params.merge(format: :pdf), target: "_blank" do
          %i.icon-print
          Stampa
      %li.divider
      %li
        = link_to documenti_path do
          %i.icon-user
          tutti i documenti

%section[@documento]{class: "span9 #{@documento.tipo}"}
  %h3
    = @documento.tipo
    %small= "nr. #{@documento.id} del #{@documento.data.strftime('%d-%m-%Y')}"
    %span.pull-right= number_to_currency @documento.importo
    
    - if @documento.mandante
      %small= "di " 
      %small= link_to @documento.mandante.full_name, @documento.mandante 
  
  %table.table
    = render @righe
