.front-container
  .front-card
    .front-signin
      = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), class: "signin") do |f| 
        .placeholding-input.username
          = f.text_field :login, placeholder: "nome utente o email", class: 'text-input'
        %table.flex-table.password-signin
          %tbody
            %tr
              %td.flex-table-primary
                .placeholding-input.password.flex-table-form
                  = f.password_field :password, placeholder: 'password', class: "text-input flex-table-input"
              %td.flex-table-secondary
                = f.submit "Accedi", class: "btn btn-info"
    
        .remember-forgot
          %label.remember
            = f.check_box :remember_me
            %span Ricordami
          %span.separator .
          = link_to "Hai dimenticato la password?", new_password_path(resource_name), class: 'forgot'
        