.devise-form.well
  = simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| 
    
    = f.input :email, placeholder: "email", :label => false
    .form-inline
      = f.password_field :password, placeholder: 'password'
      = f.submit "Accedi", class: "btn btn-primary"
    %br  
      
    - if devise_mapping.rememberable?
      .form-inline
        = f.input :remember_me, as: :boolean, inline_label: "Ricordami", :label => false
        = render :partial => "devise/shared/links"