%section.articoli_venduti
  %header
    %h3 
      Articoli venduti
      %small= link_to "...", "#articoli-venduti", class: "show-hide collapsed", data: { toggle: "collapse", "no-turbolink" => true }
  #articoli-venduti.collapse
    %table.table.articoli      
      %tr.table-header{ class: "#{'hidden' unless cliente.has_articoli_registrati? }" }
        %th.codice Codice
        %th.articolo Articolo
        %th.prezzo Prezzo
        %th.provvigione Provvigione
        %th

      - for articolo in cliente.vendite do
        = render 'movimenti/movimento', movimento: articolo

      %tr.table-footer{ class: "#{'hidden' unless cliente.has_articoli_registrati? }"}
        %td{ colspan: 2} Totale
        %td.quantita
          %strong= cliente.vendite.sum(&:quantita) 
        %td.prezzo
          %strong= number_to_currency cliente.vendite.sum(&:importo)
        %td.provvigione
          %strong= number_to_currency cliente.vendite.sum(&:importo_cliente)
        %td.actions{ colspan: 2}