- unless cliente.rese.attivo.empty?
  .attenzione-resa
    = form_for Documento.new, html: {class: "pull-right"} do |f|
      = hidden_field_tag "cliente_id", cliente.id
      = f.hidden_field :data,       value: Time.now
      = f.hidden_field :tipo,       value: "resa"
      = f.submit "Registra Resa", class: "btn btn-danger"
    %h4
      Attenzione!
    

    = render 'movimenti/movimenti_list',  collection: cliente.rese.attivo,    label: "articolo_reso_da_registrare"



