- unless cliente.vendite.non_eli.rimborsabile.empty?
  .attenzione-rimborso
    = form_for Documento.new, html: {class: "pull-right"} do |f|
      = hidden_field_tag "cliente_id", cliente.id
      = f.hidden_field :data,       value: Time.now
      = f.hidden_field :tipo,       value: "rimborso"
      = f.submit "Rimborsa", class: "btn btn-warning"

    %h4
      Attenzione!
    / = pluralize( cliente.vendite.non_eli.rimborsabile.size, "articolo" )
    / = number_to_currency( cliente.vendite.non_eli.rimborsabile.sum(&:importo_provvigione), locale: :it)
    / da rimborsare.

    = render 'movimenti/movimenti_list',  collection: cliente.vendite.non_eli.rimborsabile, label: "articolo_da_rimborsare"
      
      