= simple_form_for @cliente, :html => { :class => 'form-horizontal', style: "background-color: white" } do |f|
  
  
  
  .row
    .span12.well
      = f.error_notification
      .row
        .span6
          %fieldset.dati-anagrafici
            %legend Dati anagrafici
            .control-group.form-inline
              %label{ for: :nome, :class => 'string required control-label'} Nome e Cognome
              .controls
                = f.text_field :nome
                = f.text_field :cognome
            = f.input   :sesso, collection: [["maschio", "m"], ["femmina", "f"]], prompt: "scegli il sesso"
            = f.input   :data_di_nascita_text, label: "Data di nascita"
            = f.input   :comune_di_nascita, html5: true
            
            = f.input :codice_fiscale, wrapper: :append, hint: "#{'clicca la mano per calcolare il codice fiscale' unless @cliente.new_record?}" do
              = f.input_field :codice_fiscale, class: :mini
              - unless @cliente.new_record?
                = content_tag :a, class: "add-on get-cf btn", href: crea_codice_fiscale_cliente_path(@cliente)  do
                  %i.icon-hand-left 

            / = f.input   :codice_fiscale, hint: "#{ link_to "Crea codice", crea_codice_fiscale_cliente_path(@cliente), class: 'get-cf' unless @cliente.new_record? }" 

            = f.input   :partita_iva
            = f.input   :ragione_sociale
            
        .span6
          %fieldset
            %legend Documento d'identità
            = f.input :tipo_documento, collection: ["carta d'identità", "patente", "passaporto"]
            = f.input :numero_documento
            = f.input :documento_rilasciato_da, label: "Rilasciato da"
            = f.input :data_rilascio_documento_text, label: "Data rilascio"

      .row
        .span6
          %fieldset
            %legend Indirizzo
            = f.input :indirizzo
            = f.input :cap
            = f.input :citta
            = f.input :provincia
        .span6
          %fieldset
            %legend Recapiti & note
            = f.input :telefono
            = f.input :cellulare
            = f.input :email
            = f.input :note,  :input_html => { :rows => 2 }
      
      = f.error :base
      
      .form-actions
        = f.button :submit, :class => 'btn btn-primary'
        = link_to "Annulla", @cliente, :class => 'btn btn-danger'
