= simple_form_for @cliente, :html => { :class => 'form-horizontal', style: "background-color: white" } do |f|
  .row
    .span12.well
      .row
        .span6
          %fieldset.dati-anagrafici
            %legend Dati anagrafici
            .control-group.form-inline
              %label{ for: :nome, :class => 'string required control-label'} Nome e Cognome
              .controls
                = f.text_field :nome
                = f.text_field :cognome

            = f.input   :ragione_sociale
            = f.input   :codice_fiscale
            = f.input   :partita_iva
        .span6
          %fieldset
            %legend Documento d'identità
            = f.input :tipo_documento, collection: ["carta d'identità", "patente", "passaporto"]
            = f.input :numero_documento
            = f.input :documento_rilasciato_da, label: "Rilasciato da"
            = f.input :data_rilascio_documento_text, label: "Data rilascio"

      .row
        .span6
          %fieldset
            %legend Indirizzo
            = f.input :indirizzo
            = f.input :cap
            = f.input :citta
            = f.input :provincia
        .span6
          %fieldset
            %legend Recapiti & note
            = f.input :telefono
            = f.input :cellulare
            = f.input :email
            = f.input :note,  :input_html => { :rows => 2 }

      .form-actions
        = f.button :submit, :class => 'btn btn-primary'
        = link_to "Annulla", @cliente, :class => 'btn btn-danger'
