.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        %li.divider
      = search_form_for @q, remote: true do |f|
        = f.text_field :nome_or_cognome_or_ragione_sociale_cont, class: "search-query", placeholder: "cerca cliente", style: "width: 152px; margin-bottom: 10px"
        .pull-right.clearfix= f.submit "cerca", class: "btn", name: nil
  
  .span9
    %h1 Clienti
    %br
    %table.table
      %tbody.clienti
        - for cliente in @clienti do
          = render cliente
    
    = paginate @clienti, remote: true

