= content_for :left_col do
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        %li.divider
      
      = search_form_for @q, html: {class: "form form-search", remote: true} do |f|
        .input-append
          = f.text_field :nome_or_cognome_or_ragione_sociale_cont, class: "search-query", placeholder: "cerca cliente", style: "width: 110px"
          = button_tag class: "btn", name: nil do
            %i.icon-search

.span9
  .page-header
    %h1 Clienti
  %table.table
    = render "clienti_header"
    %tbody.clienti
      - for cliente in @clienti do
        = render cliente
  
  = paginate @clienti, remote: true

