.row
  .span9
    %h1 Clienti
    %ul
      - for cliente in @clienti do
        = render cliente
    = will_paginate @clienti, page_links: false, previous_label: h("<"), next_label: h(">")    
    .pagination
      .class.page_info
        = page_entries_info @clienti
        = will_paginate @clienti, previous_label: h("<"), next_label: h(">"), container: false, page_links: false
  .span3.side-bar
    .well
      %ul
        %li= link_to "Nuovo", new_cliente_url, class: "btn btn-primary"