= content_for :left_col do
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        
        %li
          = link_to edit_cliente_url(@cliente) do
            %i.icon-pencil
            Modifica
          
        %li
          = link_to mandato_cliente_url(@cliente) do
            %i.icon-print
            Stampa mandato
            
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        
        %li.divider

        %li.nav-header
          %i.icon-gift
          Articoli
        
        %li
          = link_to articoli_url do
            %i.icon-gift
            tutti
            

.span9
  %h3= @cliente.full_name

  %address
    = @cliente.indirizzo
    %br
    = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

  .dati-fiscali
    = @cliente.codice_fiscale
    = @cliente.partita_iva

  .info_documento
    = @cliente.tipo_documento
    = "num. #{@cliente.numero_documento}"
    = "rilasciato da: #{@cliente.documento_rilasciato_da}"
    = "il #{@cliente.data_rilascio_documento.try(:strftime, "%d-%m-%y")}"
  
  %br
  
  %section.articoli-attivi.clearfix
    = render "articoli/form"

    .clearfix    
    %br  

    .empty-rows{class: "#{'hidden' if @cliente.has_articoli_attivi? }"}
      Non ci sono articoli da caricare    
  
    %table#articoli-da-caricare.table.articoli      
      %tr.table-header{ class: "#{'hidden' unless @cliente.has_articoli_attivi? }" }
        / %th.barcode Barcode
        %th.codice      Codice
        %th.articolo    Articolo
        %th.quantita    Quantità
        %th.prezzo      Prezzo
        %th.provvigione Provvigione
        %th.created_at  Data carico
        %th
       
      - for articolo in @cliente.articoli.attivo do
        - unless articolo.new_record?
          = render 'clienti/articolo', articolo: articolo
    
      %tr.table-footer{ class: "#{'hidden' unless @cliente.has_articoli_attivi? }"}
        %td{ colspan: 2} Totale
        %td.quantita
          %strong= @cliente.articoli.attivo.sum(&:quantita) 
        %td.prezzo
          %strong= number_to_currency @cliente.articoli.attivo.sum(&:importo)
        %td.provvigione
          %strong= number_to_currency @cliente.articoli.attivo.sum(&:importo_cliente)
        %td.actions{ colspan: 2}
          = form_for Documento.new, html: {class: "pull-right"} do |f|
            = hidden_field_tag "cliente_id", @cliente.id
            = f.hidden_field :data,       value: Time.now
            = f.hidden_field :tipo,       value: "carico"
            = f.submit "registra", class: "btn btn-success"
        
          = form_tag etichette_articoli_path, :method => :put, :id => "form_articoli", class: "pull-right", target: "_blank" do
            - for a in @cliente.articoli.attivo do
              = hidden_field_tag "articolo_ids[]", a.id unless a.new_record?
            = hidden_field_tag "tipo_etichetta", "Dymo 11352"
            = submit_tag "Etichette",  id: "bt-pdf", class: "btn"
            

  %table#articoli-registrati.table.articoli   
    %caption Articoli in giacenza
    
    %tr.table-header{ class: "#{'hidden' unless @cliente.has_articoli_registrati? }" }
      / %th.barcode Barcode
      %th.codice Codice
      %th.articolo Articolo
      %th.quantita Quantità
      %th.prezzo Prezzo
      %th.provvigione Provvigione
      %th.created_at Data carico
      %th

    - for articolo in @cliente.articoli.registrato.disponibili do
      = render 'clienti/articolo', articolo: articolo

    %tr.table-footer{ class: "#{'hidden' unless @cliente.has_articoli_registrati? }"}
      %td{ colspan: 2} Totale
      %td.quantita
        %strong= @cliente.articoli.registrato.disponibili.sum(&:quantita) 
      %td.prezzo
        %strong= number_to_currency @cliente.articoli.registrato.disponibili.sum(&:importo)
      %td.provvigione
        %strong= number_to_currency @cliente.articoli.registrato.disponibili.sum(&:importo_cliente)
      %td.actions{ colspan: 2 }
      

  %br

  %table#articoli-registrati.table.articoli      
    %caption Articoli venduti
    %tr.table-header{ class: "#{'hidden' unless @cliente.has_articoli_registrati? }" }
      / %th.barcode Barcode
      %th.codice Codice
      %th.articolo Articolo
      %th.quantita Quantità
      %th.prezzo Prezzo
      %th.provvigione Provvigione
      %th.created_at Data carico
      %th

    - for articolo in @cliente.vendite do
      = render 'movimenti/movimento', movimento: articolo

    %tr.table-footer{ class: "#{'hidden' unless @cliente.has_articoli_registrati? }"}
      %td{ colspan: 2} Totale
      %td.quantita
        %strong= @cliente.vendite.sum(&:quantita) 
      %td.prezzo
        %strong= number_to_currency @cliente.vendite.sum(&:importo)
      %td.provvigione
        %strong= number_to_currency @cliente.vendite.sum(&:importo_cliente)
      %td.actions{ colspan: 2}
  
        
        
      