= content_for :left_col do
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        
        %li
          = link_to edit_cliente_url(@cliente) do
            %i.icon-pencil
            Modifica
          
        %li
          = link_to mandato_cliente_url(@cliente) do
            %i.icon-print
            Stampa mandato
            
        %li
          = link_to clienti_url do
            %i.icon-user
            tutti
        
        %li.divider

        %li.nav-header
          %i.icon-gift
          Articoli
        
        %li
          = link_to articoli_url do
            %i.icon-gift
            tutti
            

.span9
  %h3= @cliente.full_name

  %address
    = @cliente.indirizzo
    %br
    = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

  .dati-fiscali
    = @cliente.codice_fiscale
    = @cliente.partita_iva

  .info_documento
    = @cliente.tipo_documento
    = "num. #{@cliente.numero_documento}"
    = "rilasciato da: #{@cliente.documento_rilasciato_da}"
    = "il #{@cliente.data_rilascio_documento.try(:strftime, "%d-%m-%y")}"
  
  %br
  = render 'articoli/articoli_list', label: "articolo_in_giacenza", collection: @cliente.articoli.registrato.disponibili.order("articoli.documento_id desc, articoli.id")
  = render 'movimenti/movimenti_list',  collection: @cliente.vendite, label: "articolo_venduto"
  = render 'movimenti/movimenti_list',  collection: @cliente.rese,    label: "articolo_reso"

