.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        
        %li
          = link_to edit_cliente_url(@cliente) do
            %i.icon-pencil
            Modifica
          
        %li
          = link_to "" do
            %i.icon-print
            Stampa mandato
            
        %li
          = link_to clienti_url do
            %i.icon-user
            Clienti
        %li.divider
          %li.nav-header
            %i.icon-gift
            Articoli
            

  .span9
    %h3= @cliente.full_name

    %address
      = @cliente.indirizzo
      %br
      = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

    .dati-fiscali
      = @cliente.codice_fiscale
      = @cliente.partita_iva
  
    .info_documento
      = @cliente.tipo_documento
      = @cliente.numero_documento
      = @cliente.scadenza_documento
    
    %br
    
    = form_for @cliente.articoli.build, class: "form-inline" do |f|
      = f.hidden_field :cliente_id
      
      .pull-left
        = f.text_field :nome
      
      .input-prepend.quantita.pull-left
        %span.add-on Pz.
        = f.text_field :quantita, class: 'input-mini', value: 1

      .input-prepend.prezzo.pull-left
        %span.add-on €
        = f.text_field :prezzo, class: 'input-mini'
      
      .input-prepend.provvigione.pull-left
        %span.add-on %
        = f.text_field :provvigione, class: 'input-mini', value: 50      
      .pull-left
        = f.submit "Aggiungi"
    %br  
    %table.table
      - for articolo in @cliente.articoli do
        %tr
          %td= articolo.nome
          %td= articolo.quantita
          %td= number_to_currency articolo.prezzo
          %td= articolo.created_at.try(:strftime, "%d-%m-%y")
      %tr
        %td Totale
        %td
          %strong= @cliente.articoli.sum(:quantita) 
        %td
          %strong= number_to_currency @cliente.articoli.sum("articoli.prezzo * articoli.quantita")
        %td
        
        
      