.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        
        %li
          = link_to edit_cliente_url(@cliente) do
            %i.icon-pencil
            Modifica
          
        %li
          = link_to "" do
            %i.icon-print
            Stampa mandato
            
        %li
          = link_to clienti_url do
            %i.icon-user
            Clienti
        %li.divider
          %li.nav-header
            %i.icon-gift
            Articoli
            

  .span6
    %h3= @cliente.full_name

    %address
      = @cliente.indirizzo
      %br
      = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

    .dati-fiscali
      = @cliente.codice_fiscale
      = @cliente.partita_iva
  
    .info_documento
      = @cliente.tipo_documento
      = @cliente.numero_documento
      = @cliente.scadenza_documento
    
    = simple_form_for @cliente.articoli.build, html: { class: 'form-inline' }  do |f|
      = f.hidden_field :cliente_id
      = f.input :nome
      = f.input :prezzo
      = f.input :provvigione
      = f.button :submit
      