= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        %i.icon-user
        Clienti
      %li
        = link_to new_cliente_url do
          %i.icon-plus
          Nuovo
      %li
        = link_to edit_cliente_url(@cliente) do
          %i.icon-pencil
          Modifica
      %li
        = link_to clienti_url do
          %i.icon-user
          tutti
      %li.divider
      %li
        = link_to mandato_cliente_url(@cliente) do
          %i.icon-print
          Stampa mandato
      %li
        = link_to tessera_cliente_url(@cliente, format: 'pdf'), target: "_blank" do
          %i.icon-tag
          Stampa tessera    
      %li
        = link_to situazione_cliente_url(@cliente, format: 'pdf'), target: "_blank" do
          %i.icon-money
          Stampa situazione    

.span9
  %h3= @cliente.full_name

  %address
    = @cliente.indirizzo
    %br
    = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

  .dati-fiscali
    = @cliente.codice_fiscale
    = @cliente.partita_iva

  .info_documento
    = @cliente.tipo_documento
    = "num. #{@cliente.numero_documento}"
    = "rilasciato da: #{@cliente.documento_rilasciato_da}"
    = "il #{@cliente.data_rilascio_documento.try(:strftime, "%d-%m-%y")}"
  
  %br
  = render 'articoli_attivi'
  %br
  
  = render 'articoli/articoli_list', label: "articolo_in_giacenza", collection: @cliente.articoli.registrato.disponibili.order("articoli.documento_id desc, articoli.id")
  
  = form_for Documento.new, html: {class: "pull-right"} do |f|
    = hidden_field_tag "cliente_id", @cliente.id
    = f.hidden_field :data,       value: Time.now
    = f.hidden_field :tipo,       value: "rimborso"
    = f.submit "rimborsa", class: "btn btn-danger btn-mini"

  .articoli-venduti
    = render 'attenzione_cassa', cliente: @cliente
    = render 'movimenti/movimenti_list',  collection: @cliente.vendite.da_rimborsare, label: "articolo_venduto"

  .articoli-rimborsati
    = render 'movimenti/movimenti_list',  collection: @cliente.vendite.rimborsato, label: "articolo_rimborsato"


  .articoli-resi
    = render 'attenzione_resa', cliente: @cliente
    = render 'movimenti/movimenti_list',  collection: @cliente.rese,    label: "articolo_reso"

