.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-user
          Clienti
        %li
          = link_to new_cliente_url do
            %i.icon-plus
            Nuovo
        
        %li
          = link_to edit_cliente_url(@cliente) do
            %i.icon-pencil
            Modifica
          
        %li
          = link_to "" do
            %i.icon-print
            Stampa mandato
            
        %li
          = link_to clienti_url do
            %i.icon-user
            Clienti
        %li.divider
          %li.nav-header
            %i.icon-gift
            Articoli
            

  .span9
    %h3= @cliente.full_name

    %address
      = @cliente.indirizzo
      %br
      = "#{@cliente.cap} #{@cliente.citta} #{@cliente.provincia}"

    .dati-fiscali
      = @cliente.codice_fiscale
      = @cliente.partita_iva
  
    .info_documento
      = @cliente.tipo_documento
      = @cliente.numero_documento
      = @cliente.scadenza_documento.strftime("%d-%m-%y")
    
    %br
    
    = form_for @cliente.articoli.build, class: "form-inline", remote: true do |f|
      = f.hidden_field :cliente_id
      
      .pull-left
        = f.text_field :nome
      
      .input-prepend.quantita.pull-left
        %span.add-on Pz.
        = f.number_field :quantita, class: 'input-mini', value: 1

      .input-prepend.prezzo.pull-left
        %span.add-on €
        = f.text_field :prezzo_in_euro, class: 'input-mini'
      
      .input-prepend.provvigione.pull-left
        %span.add-on %
        = f.number_field :provvigione, class: 'input-mini', value: 50      
      .pull-left
        = f.submit "Aggiungi"
    %br  
    
    %table#articoli-da-caricare.table
      
      - for articolo in @cliente.articoli do
        - unless articolo.new_record?
          = render articolo
      
      %tr.table-footer
        %td{ colspan: 2} Totale
        %td.quantita{ data: {value: @cliente.articoli.sum(&:quantita) }}
          %strong= @cliente.articoli.sum(:quantita) 
        %td.importo{ data: {value: @cliente.articoli.sum(&:importo) }}
          %strong= number_to_currency @cliente.articoli.sum(&:importo)
        %td
          .pull-right= link_to "carica"
        %td
          .pull-right= link_to "etichette"
        
        
      