%tr[movimento]{class: "#{'scaduto' if movimento.scaduto?} #{movimento.tipo} #{'rimborsato' if movimento.rimborsato?} #{'da_rimborsare' if movimento.da_rimborsare?}"}
  %td= link_to "art.#{movimento.articolo_id}", movimento.articolo
  %td= movimento.articolo.nome if movimento.articolo.present?
  %td.pezzi= movimento.quantita

  %td.prezzo= best_in_place movimento, :prezzo, :type => :input, display_with: :number_to_currency, ok_button: "salva", cancel_button: "annulla", :helper_options => {:unit => "€"}, html_attrs: { style: "width: 60px"}, data: { :provvigione => movimento.importo_provvigione }, classes: :bounce_on_success
  
  %td.provvigione= number_to_currency movimento.importo_provvigione, locale: :it

  %td
    - if movimento.patate?
      .label.label-info.pull-left
        patate #{movimento.giorni_di_giacenza}
    - if movimento.scaduto?
      .label.label-warning.pull-left
        scaduto #{movimento.giorni_di_giacenza}   
  %td
    - if movimento.da_rimborsare?
      .label.label-important.pull-left
        da rimborsare
  %td

    = link_to movimento, method: :delete, class: "close", confirm: "Elimino il movimento di #{movimento.tipo}?\nL'articolo sarà di nuovo in giacenza", remote: false, "data-no-turbolink" => false do
      &times;

    -# - if movimento.da_registrare?
      
    -#   = link_to movimento, method: :delete, class: "close", remote: false, "data-no-turbolink" => false do
    -#     &times;
    -# - else
      
    -#   = form_for movimento do |f|
    -#     = f.hidden_field :delete_documento, value: true
    -#     %button.close &times
      
    -#   / = link_to "#{movimento.documento.tipo}.#{movimento.documento_id}", movimento.documento




      