%tr.rimborso[movimento]
  %td= link_to "art.#{movimento.articolo_id}", movimento.articolo
  %td= movimento.articolo.nome
  %td.pezzi= movimento.quantita
  %td.prezzo
    &nbsp
  %td.provvigione= number_to_currency movimento.importo_provvigione
  %td
    - if movimento.patate?
      .label.label-info.pull-left
        patate
    - if movimento.scaduto? && !movimento.patate?
      .label.label-warning.pull-left
        scaduto    
  %td
  %td
    = link_to "#{movimento.documento.tipo}.#{movimento.documento_id}", movimento.documento
    = link_to "rimborso.#{movimento.rimborso_id}", movimento.rimborso