$("span.help-inline.error-inline").remove();

<%- if @movimento.errors.empty? %>
  $(".movimenti.da-registrare").prepend("<%= escape_javascript(render @movimento) %>");
  $(".cassa-result").replaceWith("<%= escape_javascript( render partial: 'cassa/cassa_result', locals: { movimenti: @movimento.user.movimenti.attivo } ) %>");
  $("form#new_movimento").get(0).reset();
  $("input#movimento_articolo_id").focus();

  if ($(".articolo_in_giacenza").length > 0) {
    var collapsed = $(".articolo_in_giacenza header a").hasClass('collapsed')
    $(".articolo_in_giacenza").replaceWith("<%= j render 'articoli/articoli_list', label: 'articolo_in_giacenza', collection: @movimento.cliente.articoli.registrato.disponibili.order('articoli.documento_id desc, articoli.id') %>")
    if (collapsed == false) {
      $(".articolo_in_giacenza header a").removeClass("collapsed");
      $("#articolo_in_giacenza").addClass("in");
    }
  }

  if ($(".articolo_venduto").length > 0) {
    var collapsed = $(".articolo_venduto header a").hasClass('collapsed')
    $(".articolo_venduto").replaceWith("<%= j render 'movimenti/movimenti_list', collection: @movimento.cliente.vendite, label: 'articolo_venduto' %>")
    if (collapsed == false) {
      $(".articolo_venduto header a").removeClass("collapsed");
      $("#articolo_venduto").addClass("in");
    }
  }

  if ($(".articolo_reso").length > 0) {
    var collapsed = $(".articolo_reso header a").hasClass('collapsed')
    $(".articolo_reso").replaceWith("<%= j render 'movimenti/movimenti_list', collection: @movimento.cliente.rese, label: 'articolo_reso' %>")
    if (collapsed == false) {
      $(".articolo_reso header a").removeClass("collapsed");
      $("#articolo_reso").addClass("in");
    }
  }
    
<% else %>
  $("input#movimento_articolo_id").select();
  $("form#new_movimento .input-append").after("<span class='error-inline help-inline'><%= @movimento.errors.values.join %></span>"); 
<% end %>
