$("span.help-inline.error-inline").remove();

<%- if @movimento.errors.empty? %>
  
  $("#<%= dom_id @movimento.articolo %>").replaceWith("<%= j (render @movimento.articolo.reload) %>")
  
  $(".movimenti.da-registrare").prepend("<%= escape_javascript(render @movimento) %>");
  $(".cassa-result").replaceWith("<%= escape_javascript( render partial: 'cassa/cassa_result', locals: { movimenti: @movimento.user.movimenti.attivo } ) %>");
  $("form#new_movimento").get(0).reset();
  $("input#movimento_articolo_id").focus();

  if ($("li.cassa").length > 0) {
    $("li.cassa").replaceWith("<%= j render 'layouts/link_cassa' %>");
  }

  if ($(".articolo_in_giacenza").length > 0) {
    var collapsed = $(".articolo_in_giacenza header a").hasClass('collapsed')
    $(".articolo_in_giacenza").replaceWith("<%= j render 'articoli/articoli_list', label: 'articolo_in_giacenza', collection: @movimento.cliente.articoli.registrato.disponibili.order('articoli.documento_id desc, articoli.id') %>")
    if (collapsed == false) {
      $(".articolo_in_giacenza header a").removeClass("collapsed");
      $("#articolo_in_giacenza").addClass("in");
    }
  }
  
  if ($(".articoli-venduti").length > 0) {
    var collapsed = $(".articolo_venduto header a").hasClass('collapsed')
    $(".articoli-venduti").html("")
    $(".articoli-venduti").append("<%= j render 'clienti/attenzione_cassa', cliente: @movimento.cliente %><%= j render 'clienti/attenzione_rimborso', cliente: @movimento.cliente %><%= j render 'movimenti/movimenti_list', collection: @movimento.cliente.vendite, label: 'articolo_venduto' %>")
    if (collapsed == false) {
      $(".articolo_venduto header a").removeClass("collapsed");
      $("#articolo_venduto").addClass("in");
    }
  }
  
  if ($(".articoli-resi").length > 0) {
    var collapsed = $(".articolo_reso header a").hasClass('collapsed')
    $(".articoli-resi").html("")
    $(".articoli-resi").append("<%= j render 'clienti/attenzione_resa', cliente: @movimento.cliente %><%= j render 'movimenti/movimenti_list', collection: @movimento.cliente.rese, label: 'articolo_reso' %>")
    if (collapsed == false) {
      $(".articolo_reso header a").removeClass("collapsed");
      $("#articolo_reso").addClass("in");
    }
  }
    
<% else %>
  $("input#movimento_articolo_id").select();
  $("form#new_movimento .input-append").after("<span class='error-inline help-inline'><%= @movimento.errors.values.join %></span>"); 
<% end %>
