= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header Movimenti
      %li
        = link_to movimenti_path do
          tutti i movimenti
      %li.divider
      %li
        = link_to documenti_path do
          tutti i documenti
      
.span9
  .page-header
    = link_to "#", class: "btn btn-stampami pull-right", onclick: "window.print();return false;", "data-no-turbolink" => true do
      %i.icon-print
      Stampami
    
    %h1 Movimenti 
  
  %table.table
    - @movimenti_per_giorno.each do |giorno, movimenti|
      %tr
        %td{colspan: 4}
          = link_to lista_movimenti_path(year: giorno.year, month: giorno.month, day: giorno.day) do
            %h4= l giorno, format: :long
        %td.pezzi{colspan: 5}
          incasso
          %h4= number_to_currency movimenti.select{ |m| m.vendita?}.sum(&:importo)
      - for m in controller.exhibit(movimenti, "movimenti") do
        = m.render_template(self)

  = paginate @movimenti

  