%section{ class: "#{label}" }
  %header
    %h4 
      = pluralize( collection.sum(&:giacenza), label.humanize.downcase )
      - if collection.size > 0
        %small= link_to "...", "##{label}", class: "show-hide collapsed", data: { toggle: "collapse", "no-turbolink" => true }

  %div.collapse{ id: "#{label}" } 
    %table.table.articoli  
      %tr.table-header{ class: "#{'hidden' if collection.empty? }" }
        %th.codice      Codice
        %th.articolo    Articolo
        %th.pezzi    Quantità
        %th.prezzo      Prezzo
        %th.provvigione Provvigione
        %th
        %th
        %th
    
      - collection.group_by(&:documento).each do |key, values|
        %tr
          %td
            %small 
              = link_to key.mandante, key.mandante
          %td{ colspan: 6 }
            = link_to "Carico N." + key.id.to_s + " del " + key.data.strftime("%d/%m/%Y"), key

          %td
            = link_to 'x', key, class: "close", method: :delete, confirm: "Elimino il documento?\n(i movimenti non verranno eliminati)", "data-no-turbolink" => true
            
        = render values

      %tr.table-footer{ class: "#{'hidden'  if collection.empty? }"}
        %td{ colspan: 2} Totale
        %td.pezzi
          %strong= collection.sum(&:giacenza) 
        %td.prezzo
          %strong= number_to_currency collection.sum(&:importo)
        %td.provvigione
          %strong= number_to_currency collection.sum(&:importo_provvigione)
        %td.actions{ colspan: 2 }