%tr[articolo]
  %td.id= link_to "art.#{articolo.id}", articolo
  %td.nome= articolo.nome
  %td.quantita= articolo.quantita
  %td.prezzo= number_to_currency articolo.prezzo
  %td.provvigione= number_to_percentage articolo.provvigione, precision: 0
  %td.created_at= articolo.created_at.try(:strftime, "%d-%m-%y")
  %td
    = link_to articolo.cliente.full_name, articolo.cliente
  %td
    = articolo[:gino]