%section.history

  - if @articolo.documento
    = link_to @articolo.documento do
      .alert.alert-info
        %strong
          Caricato il
          = l @articolo.documento.data, format: :default
        con documento nr  
        = @articolo.documento.id
  - else
    = link_to @articolo.cliente do
      .alert.alert-error
        %h4
          Attenzione!
        carico da registrare. Clicca per registrare il carico del cliente

  - unless @articolo.movimenti.vendita.empty?
    - for m in @articolo.movimenti.vendita do
      - if m.documento
        - if m.rimborsato?
          = link_to m.rimborso do
            .alert
              %span
                %strong
                  Rimborso del
                = l m.rimborso.data, format: :default
                cassa nr.
                = m.rimborso.id 
              %span.pull-right
                %strong
                  = number_to_currency m.prezzo
        - else
          = link_to m.documento do
            .alert.alert-success
              %span
                %strong
                  Venduto il
                = l m.documento.data, format: :default
                cassa nr.
                = m.documento.id 
              %span.pull-right
                %strong
                  = number_to_currency m.prezzo
      - else
        = link_to cassa_path do
          .alert.alert-error
            %h4
              Attenzione!
            vendita da incassare. Clicca per registrare il movimento di cassa
        
  - unless @articolo.movimenti.resa.empty?
    - for m in @articolo.movimenti.resa do
      - if m.documento
        = link_to m.documento do
          .alert
            %span
              %strong
                Reso il
              = l m.documento.data, format: :default
              resa nr.
              = m.documento.id 
      - else
        = link_to @articolo.cliente do
          .alert.alert-error
            %h4
              Attenzione!
            resa da registrare. Clicca per registrare la resa del cliente