.row
  .span3.side-bar
    .well
      %ul.nav.nav-list
        %li.nav-header
          %i.icon-gift
          Articoli
          
        %li
          = link_to articoli_url do
            %i.icon-gift
            tutti
        %li.divider
        
      = search_form_for @q do |f|
        = f.text_field :nome_cont, class: "search-query", placeholder: "cerca articolo", style: "width: 152px; margin-bottom: 10px"
        .pull-right.clearfix= f.submit "cerca", class: "btn", name: nil

        / = search_form_for @search, url: search_articoli_path, method: :post do |f|
        /   = f.condition_fields do |c|
        /     = render "condition_fields", f: c            
        /   %p= link_to_add_fields "Add Conditions", f, :condition
        /   .field
        /     Sort:
        /     = f.sort_fields do |s|
        /       = s.sort_select
        /   .actions= f.submit "Cerca"
          
  
  .span9
    %h1 Articoli
    %br
    %table.table
      %tr
        %th= sort_link @q, :id, "codice"
        %th= sort_link @q, :nome, "articolo"
        %th quantita
        %th= sort_link @q, :prezzo, "prezzo"
        %th provv.
        %th= sort_link @q, :created_at, "caricato il"
        %th= sort_link @q, "clienti.nome", "venditore"
        
      - for articolo in @articoli do
        = render articolo
    = paginate @articoli
