= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        %i.icon-user
        Articoli
      %li
        = link_to edit_articolo_url(@articolo) do
          %i.icon-pencil
          Modifica
      %li
        = link_to @articolo, method: :delete, confirm: "Sei sicuro?" do
          %i.icon-trash
          Elimina

      %li
        = link_to articoli_url do
          %i.icon-user
          tutti
      
      %li.divider

      %li.nav-header
        %i.icon-gift
        Articoli
      
      %li
        = link_to articoli_url do
          %i.icon-gift
          tutti

%section.span9
  
  .page-header
    - if @articolo.disponibile?
      .pull-right
        = form_tag etichette_articoli_path, :method => :put, :id => "form_articoli", class: "btn-articolo", target: "_blank" do
          = hidden_field_tag "articolo_ids[]", @articolo.id
          = hidden_field_tag "tipo_etichetta", "Dymo 11352"
          = button_tag id: "bt-pdf", class: "btn" do
            %i.icon-tag
            eti
        = form_for Movimento.new, html: { class: "btn-articolo"} do |f|
          = f.hidden_field :articolo_id, value: @articolo.id
          = f.hidden_field :tipo, value: "resa"
          = f.submit  "Rendi", class: "btn btn-danger"
        = form_for Movimento.new, html: { class: "btn-articolo"} do |f|
          = f.hidden_field :articolo_id, value: @articolo.id
          = f.hidden_field :tipo, value: "vendita"
          = f.submit  "Vendi", class: "btn btn-success" 

    %h3
      = @articolo.nome
      %small
        di
        = link_to @articolo.cliente.full_name, @articolo.cliente
  .row
    .span5
      %p
        codice articolo: #{@articolo.id.to_s}
        %br
        quantità: #{@articolo.quantita}
        %br
        prezzo: #{number_to_currency @articolo.prezzo, locale: :it}
        %br
        provvigione: #{number_to_percentage @articolo.provvigione, precision: 0}
        %br
        giacenza: #{@articolo.giacenza}
        %br
        data carico: #{l @articolo.data_carico, format: :default}
        %br
        data scadenza: #{l @articolo.data_scadenza, format: :default}

      = render "history"
      

    %section.galleria_articolo.span4  
      %ul#foto_articolo.thumbnails
        = render @articolo.photos  
        %li.dropzone.span2
          .inner
            trascina qui una
            o più fotografie
            %br
            = form_for Photo.new, html: { "data-no-turbolink" => true } do |f|
              = f.hidden_field :articolo_id, value: @articolo.id
              = f.file_field :photo, multiple: true, name: "photo[photo]", class: "hidden"



%script{ id: "template-upload", type: "text/x-tmpl"}
  .upload
    / {%= o.name %}
    .progress
      .bar{ style: "width: 0%"}
