= content_for :left_col do
  .span3.side-bar
    %ul.nav.nav-list.well
      %li.nav-header
        %i.icon-user
        Articoli
      %li
        = link_to edit_articolo_url(@articolo) do
          %i.icon-pencil
          Modifica
      %li
        = link_to @articolo, method: :delete, confirm: "Sei sicuro?" do
          %i.icon-trash
          Elimina

      %li
        = link_to articoli_url do
          %i.icon-user
          tutti
      
      %li.divider

      %li.nav-header
        %i.icon-gift
        Articoli
      
      %li
        = link_to articoli_url do
          %i.icon-gift
          tutti
            

.span9
  .pull-right
    - if @articolo.disponibile?
      = form_for Movimento.new do |f|
        = f.hidden_field :articolo_id, value: @articolo.id
        = f.hidden_field :tipo, value: "vendita"
        = f.submit  "Vendi", class: "btn btn-success" 

  %h3
    = @articolo.nome
    %small
      di
      = link_to @articolo.cliente.full_name, @articolo.cliente
  
  %p
    = "codice articolo: #{@articolo.id.to_s}"
    %br
    = "quantità: #{@articolo.quantita}"
    %br
    = "prezzo: #{number_to_currency @articolo.prezzo}"
    %br
    = "provvigione: #{number_to_percentage @articolo.provvigione, precision: 0}"
    %br
    giacenza: #{@articolo.giacenza}

  
  - if @articolo.documento
    = link_to @articolo.documento do
      .alert.alert-info
        %strong
          Caricato il
          = l @articolo.documento.data, format: :default
        con documento nr  
        = @articolo.documento.id
  - else
    = link_to @articolo.cliente do
      .alert.alert-error
        %h4
          Attenzione!
        carico da registrare. Clicca per registrare il carico del cliente
  
  - unless @articolo.movimenti.vendita.empty?
    - for m in @articolo.movimenti.vendita do
      - if m.documento
        - if m.rimborsato?
          = link_to m.rimborso do
            .alert
              %span
                %strong
                  Rimborso del
                = l m.rimborso.data, format: :default
                cassa nr.
                = m.rimborso.id 
              %span.pull-right
                %strong
                  = number_to_currency m.prezzo
        - else
          = link_to m.documento do
            .alert.alert-success
              %span
                %strong
                  Venduto il
                = l m.documento.data, format: :default
                cassa nr.
                = m.documento.id 
              %span.pull-right
                %strong
                  = number_to_currency m.prezzo
      - else
        = link_to cassa_path do
          .alert.alert-error
            %h4
              Attenzione!
            vendita da incassare. Clicca per registrare il movimento di cassa
        
  - unless @articolo.movimenti.resa.empty?
    - for m in @articolo.movimenti.resa do
      - if m.documento
        = link_to m.documento do
          .alert
            %span
              %strong
                Reso il
              = l m.documento.data, format: :default
              resa nr.
              = m.documento.id 
      - else
        = link_to @articolo.cliente do
          .alert.alert-error
            %h4
              Attenzione!
            resa da registrare. Clicca per registrare la resa del cliente

  
