%nav.navbar
  .navbar-inner
    .container
      = link_to image_tag('crocevia232x81.png'), root_path, :class => 'brand'


      %ul.nav.actions    
        - if user_signed_in?
          %li
            = link_to(current_user.name, edit_user_registration_path)  
          %li
            = link_to "Esci", destroy_user_session_path, id: "sign_out", :method=>'delete' 
        - else
          %li
            = link_to "Accedi con Facebook", user_omniauth_authorize_path(:facebook), id: "sign_in"
          %li
            = link_to "Accedi", new_user_session_path
          %li
            = link_to('Iscriviti!', new_user_registration_path)

        - if user_signed_in? 
          - if current_user.has_role? :admin
            %li
              = link_to('Admin', users_path)
        - if can? :manage, Cliente
          %li
            = link_to "Clienti", clienti_path  

