!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Crocevia - Mercato dell'usato"
    %meta{:content => "Il mercatino dell'usato in centro a Bologna", :name => "description"}
    %meta{:content => "mercatino, usato, mercato, bologna, crocevia, santacroce, santa, croce, pratello, thrift, shop, vintage, usati", :name => "keywords"}

    %meta{:content => "@paolotax", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    .loading.hidden
      caricamento....
      
    %header
      = render 'layouts/navigation'
      
    .container
      = render 'layouts/messages'
      = yield

    %footer
      .navbar
        .container
          .navbar-inner
            %ul.nav.actions
              %li 
                = link_to_unless_current "Home", root_path do
                  &nbsp
              %li 
                = link_to_unless_current "Regolamento", regolamento_path do
                  &nbsp
              %li  
                = link_to_unless_current "Staff", staff_path do
                  &nbsp
              %li  
                = link_to_unless_current "Dove siamo?", dove_siamo_path do
                  &nbsp
