!!!
%html
  %head
    %meta{:charset => "utf-8"}
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1, maximum-scale=1"}
    %title= content_for?(:title) ? yield(:title) : "Crocevia Santacroce"
    %meta{:content => "", :name => "description"}
    %meta{:content => "", :name => "author"}
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "http://maps.google.com/maps/api/js?sensor=true"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)
  %body
    %header
      = render 'layouts/navigation'
      
      .container
        = render 'layouts/messages'
      = yield

      %footer
        .navbar
          .container
            .navbar-inner
              %ul.nav
                %li 
                  = link_to_unless_current "Home", root_path do
                    &nbsp
                %li 
                  = link_to_unless_current "Regolamento", regolamento_path do
                    &nbsp
                %li  
                  = link_to_unless_current "Staff", staff_path do
                    &nbsp
                %li  
                  = link_to_unless_current "Dove siamo?", dove_siamo_path do
                    &nbsp
